* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to right, skyBlue, darkBlue);
}

.search-form {
    height: 160px;
    border-bottom: 2px solid black;
}

#current {
    border: 1px solid black;
    border-radius: 2px;
}